.button-short { line-height: inherit; }

.toastMessage.forceActionsText{ white-space : pre-line !important; }

.dataSpinnerHolder{
    position: relative;
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    white-space: nowrap;
}

.pageSpinnerHolder{
    position: absolute;
    min-height: 180px;
    min-width: 180px;
    z-index: 100;
}

.applistscrollwrapper {
    width: 100%;
    overflow-y: auto;
}

.tablehorizontalscroll {
    width: max-content;
}

.tablenohorizontalscroll {

}

.relatedlistscrollwrapper {
    width: 100%;
    min-height: 80px;
    max-height: 300px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.relatedlistdisplayallwrapper {
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.splitviewscrollwrapper {
    width: 100%;
    min-height: 80px;
    max-height: 67vh;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.splitviewobjectlistdropdown {
    width: 100%;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.regularobjectlistdropdown {
    min-width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.splitviewlistviewdropdown {
    width: 70%;
    padding-left: 5px;
}

.regularlistviewdropdown {
    min-width: 20%;
}

thead th { 
    position: sticky; 
    top: 0; 
}

th { 
    z-index: 1 
}

.slds-card__header {
    padding-top: 0px;
}