.mainwrapper {
    position: relative;
}

.header {
    padding-top: 5px;
    background: white;
    border-radius: 5px 5px 0px 0px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.virtualtext {
    background: white; 
    font-weight: bold; 
    padding-left:10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    color: crimson;
}

.title {
    font-weight: bold; 
    font-size: 1.3em; 
    padding-right: 5px; 
    padding-top: 3px;
    padding-left: 5px;
}

.button-short {
    line-height: inherit;
}

.toastMessage.forceActionsText {
    white-space: pre-line !important;
}

.dataSpinnerHolder {
    position: relative;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 32px;
    min-width: 30px;
    margin-left: 5px;
}

.pageSpinnerHolder {
    position: absolute;
    min-height: 180px;
    min-width: 180px;
    z-index: 100;
}

.applistscrollwrapper {
    width: 100%;
    overflow-y: auto;
    max-height: 60vh;
}

.virtualapplistscrollwrapper {
    width: 100%;
    overflow-y: auto;
    border-top: red solid 4px;
    max-height: 60vh;
}

.tablehorizontalscroll {
    width: max-content;
}

.tablenohorizontalscroll {
    width: auto;
    min-width: 100%;
}

.relatedlistscrollwrapper {
    width: 100%;
    min-height: 80px;
    max-height: 300px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.relatedlistdisplayallwrapper {
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.splitviewscrollwrapper {
    width: 100%;
    min-height: 80px;
    max-height: 67vh;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.splitviewobjectlistdropdown {
    width: 100%;
    padding-bottom: 5px;
    padding-right: 5px;
}

.regularobjectlistdropdown {
    min-width: 20%;
}

.splitviewlistviewdropdown {
    width: 70%;
    padding-left: 5px;
}

.regularlistviewdropdown {
    min-width: 20%;
}

thead th {
    position: sticky;
    top: 0;
}

th {
    z-index: 1;
}

.slds-card__header {
    padding-top: 0px;
}

.mainwrapper {
    position: relative;
}

.button-short {
    line-height: inherit;
}

.toastMessage.forceActionsText {
    white-space: pre-line !important;
}

.pageSpinnerHolder {
    position: absolute;
    min-height: 180px;
    min-width: 180px;
    z-index: 100;
}

.applistscrollwrapper {
    width: 100%;
    overflow-y: auto;
    max-height: 60vh;
}

.virtualapplistscrollwrapper {
    width: 100%;
    overflow-y: auto;
    border-top: red solid 4px;
    max-height: 60vh;
}

.tablehorizontalscroll {
    width: max-content;
}

.tablenohorizontalscroll {
    width: auto;
    min-width: 100%;
}

.relatedlistscrollwrapper {
    width: 100%;
    min-height: 80px;
    max-height: 300px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.relatedlistdisplayallwrapper {
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.splitviewscrollwrapper {
    width: 100%;
    min-height: 80px;
    max-height: 67vh;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow: auto;
}

.splitviewobjectlistdropdown {
    width: 100%;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.regularobjectlistdropdown {
    min-width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.splitviewlistviewdropdown {
    width: 70%;
    padding-left: 5px;
}

.regularlistviewdropdown {
    min-width: 20%;
}

thead th {
    position: sticky;
    top: 0;
}

th {
    z-index: 1;
}

.slds-card__header {
    padding-top: 0px;
}